ul{
    list-style: none;
    display:flex;
}

li{
    padding: 0 15px;
}

.Home-Container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   
.welcome-header{
    font-size: 45px;
}